.DS_Store
node_modules/
.react-router/
coverage/
.vite/
.cache/

build/*
!build/
!build/client/
!build/client/**

public/.well-known/appspecific/com.chrome.devtools.json

*.log
*.tmp
*.orig
*.swp
*.swo
*~
